{% load static %}
<!DOCTYPE html>
<html>
<title>My Account</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/base.css"/>
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
    p {
    border: 1px solid powderblue;
    padding: 30px;
}
</style>

<header class="w3-bar w3-top w3-black w3-xlarge">
      <div style="background-color:black;color:white;padding:20px;">
        <a href="/main/" class="w3-right" style="text-decoration:none;font-size:70%;">Back to the site</a>
        <h3 class="w3-wide  w3-center"><b>FASHION DU JOUR - MY ACCOUNT</b></h3>
      </div>
</header>

<body class="w3-light-grey w3-margin-right">

<div class="w3-content " style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third w3-display-left">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>____</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Username : {{ user.username }}</p>
          <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>First Name : {{ user.first_name }}</p>
          <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Last Name : {{ user.last_name }}</p>
          <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Email : {{ user.email }}</p>
          <p><a href="#" class="fa-fw w3-margin-right w3-large w3-text-teal" style="text-decoration:none">My Orders</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>